@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";

@layer base {
    body {
        font-family: "Poppins", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    input:not([type="checkbox"]) {
        @apply outline-none focus:ring border border-gray-300
    focus:ring-blue-500 focus:border-blue-500 rounded-lg;
    }

    textarea {
        @apply outline-none focus:ring border border-gray-300
    focus:ring-blue-500 focus:border-blue-500 rounded-lg resize-none;
    }
}

@keyframes marqueeScroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}

.marquee-inner {
    animation: marqueeScroll 25s linear infinite;
}

.marquee-reverse {
    animation-direction: reverse;
}
