@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";

@layer base {
    body {
        font-family: "Poppins", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@keyframes marqueeScroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}

.marquee-inner {
    animation: marqueeScroll 25s linear infinite;
}

.marquee-reverse {
    animation-direction: reverse;
}

